div.album-details {
	font-family: 'Amatic SC', cursive;
	color: white;
}
tbody.songs {
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 20px;
}
Playerbar {
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 20px;
}